@import url("./base/index.css");
@import url("./component/index.css");

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none !important;
}

.clip-top {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

/* .hero {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9)),
    url("/images/banner1.jpg");
  background-position: bottom center;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
} */

.travel_section .arrow {
  cursor: pointer;
  object-fit: contain;
  opacity: 0;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -60%);
  transition: all 0.5s;
  /* visibility: hidden; */
  height: 50px;
  width: 50px;
  z-index: 10;
  background-color: #fff;
  border-radius: 50%;
}

.travel_section:hover .arrow {
  visibility: visible;
  opacity: 1;
  transform: translate(0%, -60%);
}

/* swiper js */
.mySwiper.swiper {
  width: 100%;
  height: 50vh;
}

.mySwiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  display: none;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 50px !important;
  width: 50px !important;
}
.mySwiper .swiper-button-prev {
  background-image: url("https://img.icons8.com/ios-filled/100/f9dc5c/circled-left-2.png");
}

.mySwiper .swiper-button-next {
  background-image: url("https://img.icons8.com/ios-filled/100/f9dc5c/circled-right-2.png");
}

.customSwiper.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.customSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 400px;
  position: relative;
}
